@media (max-width: 1280px) {
.tit-opciones {
    font-size: 1.6em;
}
}
@media (max-width: 960px) {
body{
	font-size:0.9em;
	}	
.tit-opciones {
    font-size: 1.4em;
}
.botones-acc {
    width: 50%;
}
.tit-opciones {
    width: 100%;
    padding: 15px 1%;
	position:relative;
	text-align:center;
}
.cont-buttoms {
    width: 100%;
    margin: 0;
}
.cont-descarga {
    width: 100%;
    margin: 0 0;
}
.tit-descarga h1 {
    font-size: 3em;
}
.margins-top-pg-interna{
	margin-top:12%;
	}
.cont-paginterna{
	width:68%;
	}	
.cont-paginterna img {
    float: left;
    width: 50%;
    padding: 0 10px 10px 0;
}
#submenu-interna {
    width: 30%;
}	
}
@media (max-width: 767px) {
.cont-paginterna img {
    float: left;
    width: 50%;
    padding: 0 0 10px 0;
	margin:0 25%;
}
}
@media (max-width: 550px) {
.sec-descarga {
    width: 50%;
}
.cont-simuladores img{
	width:40%;
	padding:0;
	margin:0 30%;
	}
.cont-calcu{
	width:100%;
	float:left;
	}
.cont-simuladores{
	width:100%;
	margin:0;
	}	
}
@media (max-width: 500px) {
.botones-acc {
    width: 100%;
}	
.img-logo-asoprep {
    width: 50%;
    margin: 0 25%;
}
.margins-top-pg-interna{
	margin-top:15%;
	}
.cont-paginterna {
    width: 100%;
}
#submenu-interna {
    width: 100%;
    background-color: #006298;
    height: auto;
    position: relative;
	float:left;
	margin:20px 0;
}
}
@media (max-width: 380px) {
.sec-descarga {
    width: 100%;
}
.margins-top-pg-interna{
	margin-top:20%;
	}
.cont-paginterna img{
	width:100%;
	margin:0;
	}		
}
